#
# This is Linux kernel config fragment
# use with BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES
#
# Example:
# BR2_LINUX_KERNEL_DEFCONFIG="sunxi"
# BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_pOOBs4_PATH)/board/poobs4/common/linux-fragment.config"
#

#
# USB Gadget precomposed configurations
#
CONFIG_USB_MASS_STORAGE=m

#
# Networking support
#
CONFIG_WIRELESS_EXT=y
